$headings-color: #4f7b94;
$body-background: #63818A;
$body-background-bottom: #73939B;
$candy-stripe1: #fff;
$candy-stripe2: #e5e5e5;
$candy-stripe-hover: #f0f0f0;
$logo: "http://minotopia.bitbucket.org/xxyy_jenkins_logo.png";

#footer a, #htmlAudioDisabled a, #htmlAudioEnabled a {
    color: white;
}

#footer a:visited, #htmlAudioDisabled a:visited, #htmlAudioEnabled a:visited {
    color: white;
}

#footer a:hover, #htmlAudioDisabled a:hover, #htmlAudioEnabled a:hover {
    color: #E6E6E6;
}

body {
	background: $body-background;
	background: -moz-linear-gradient(top, $body-background 0%, $body-background-bottom 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$body-background), color-stop(100%,$body-background-bottom));
	background: -webkit-linear-gradient(top, $body-background 0%,$body-background-bottom 100%);
	background: -o-linear-gradient(top, $body-background 0%,$body-background-bottom 100%);
	background: -ms-linear-gradient(top, $body-background 0%,$body-background-bottom 100%);
	background: linear-gradient(top, $body-background 0%,$body-background-bottom 100%);
}

h1, h2, h3, h4, h5, h6{
  color: $headings-color;
}

#top-panel{
	background: none;
	td#login-field {
		span {
			a {
				background:none;
			}
		}
	}
  td {
		#searchform {
			a {
				background:none;
				height: auto;
				width: auto;
			}
		}
    &>a {
			background:url($logo) 0 0 no-repeat;
			display:block;
			width: 400px;
			height: 120px;
			margin: 10px 0 10px 10px;
      img {
        display:none;
      }
    }
  }
}
#projectstatus {
	background: #fff;
  tr{
    &:nth-of-type(odd) {
      background-color:$candy-stripe2;
      &:hover{
        background-color: $candy-stripe-hover;
      }
    }
    &:nth-of-type(even) {
      background-color:$candy-stripe1;
      &:hover{
        background-color: $candy-stripe-hover;
      }
    }
  }
}
#left-top-nav {
	border-left: none;
}

#side-panel{
  background-color: #fff;
  >div:not(#navigation){
    display: none;
  }
  .task{
    a{
      display: inline-block;
      text-decoration: none;
      width: 10%;
      &+a{
        width: 83%;
        padding: 4px;
        &:hover{
          background-color: $candy-stripe2;
        }
      }
      &:hover{
        text-decoration: underline
      }
    }
  }
}
#main-panel {
	background:#fff;
  &>h1{
    margin-top: 0;
  }
}
#main-table {
	border-top:0;
	border-bottom:0;
}
#description {
	> div {
	font-size: 1.3em;
	}
}
#footer {
	border-top:1px solid #ccc;
}
#view-message{
  #description{
    a{
      img{
        padding-right: 4px;
      }
    }
  }
}
